![imagen](https://ih0.redbubble.net/image.193728327.1015/flat,800x800,075,f.jpg)

# Fundamentals pandas Manipulations
**Instructor:** [Ken Jee](https://github.com/PlayingNumbers/fundamentals/blob/master/Data_Manipulation.py)  
**Comentario:** Ejercicios practicos de los comnados fundamentales utilizados en panda   

|Realizado por |Email |Fecha|
|--------------|------|-----|  
|Luis Hernández|luishernandezmatos@yahoo.com|9 de mayo 2020|

<video controls src="https://www.youtube.com/watch?v=yIJrCFXs0rU" />

**Que es Pandas:**  
> Pandas es una librería de python destinada al análisis de datos, que proporciona unas estructuras de datos flexibles y que permiten trabajar con ellos de forma muy eficiente. Pandas ofrece las siguientes estructuras de datos:  

>Series: Son arrays unidimensionales con indexación (arrays con índice o etiquetados), similar a los diccionarios. Pueden generarse a partir de diccionarios o de listas.  
 
>DataFrame: Son estructuras de datos similares a las tablas de bases de datos relacionales como SQL.  
 
>Panel, Panel4D y PanelND: Estas estructuras de datos permiten trabajar con más de dos dimensiones. Dado que es algo complejo y poco utilizado trabajar con arrays de más de dos dimensiones no trataremos los paneles en estos tutoriales de introdución a Pandas.  
Para ver los ejemplos que vamos a mostrar en este tutorial y en el resto relacionados con la librería de Pandas, es necesario descargarnos esta librería (y la librería de Numpy). Para ello lo podemos descargar a través del repositorio de paquetes PyPi (con pip) de la siguiente manera: 

>>```python
pip install pandas
```
>>


>[Ricardo Montoya](https://jarroba.com/pandas-python-ejemplos-parte-i-introduccion/)

### Como se importa pandas  
La froma correcta de importar la librería es como sigue:
```python
import pandas as pd
```  
**Nota:**  siempre es conveniente ponerle un alias, su alias universal es pd

In [1]:
import pandas as pd

### Cargar los datos  
Para cargar los datos utilizamos el comando:
```python
pd.read_csv('nombre_del_archivo.csv')
```

In [3]:
df = pd.read_csv('vehicles.csv', nrows = 7000)

<b><font color=red> A continuación  voy a realizar la manipulación en pandas, utilizare (#) como comnetario para dichos comandos, en otros utilizare titulos como guia

In [6]:
#ver los primeros 5 registros
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,NaN,...,NaN,NaN,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443
1,7088745301,https://greensboro.craigslist.org/ctd/d/bmw-3-...,greensboro,https://greensboro.craigslist.org,0,2011.0,bmw,335,NaN,6 cylinders,...,rwd,NaN,convertible,blue,https://images.craigslist.org/00S0S_1kTatLGLxB...,BMW 3 Series 335i Convertible Navigation Dakot...,NaN,nc,NaN,NaN
2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,NaN,...,NaN,NaN,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794
3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,NaN,...,fwd,NaN,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443
4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458

In [7]:
#ver los ultimos 5
df.tail()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
6995,7082198576,https://marshall.craigslist.org/ctd/d/la-cross...,southwest MN,https://marshall.craigslist.org,27438,2016.0,gmc,sierra 1500 denali,excellent,8 cylinders,...,4wd,NaN,NaN,white,https://images.craigslist.org/00W0W_99r1UC3X6x...,This 1 owner 2016 GMC Sierra K1500 Denali has ...,NaN,mn,43.8855,-91.3382
6996,7078891017,https://westernmass.craigslist.org/ctd/d/new-l...,western massachusetts,https://westernmass.craigslist.org,48900,2017.0,ford,f-350 super duty,excellent,8 cylinders,...,4wd,full-size,truck,white,https://images.craigslist.org/00101_hDO889klnF...,2017 Ford F-350 Super Duty Lariat 4x4 4dr Crew...,NaN,ma,42.4759,-73.3773
6997,7078890846,https://westernmass.craigslist.org/ctd/d/plais...,western massachusetts,https://westernmass.craigslist.org,29990,2011.0,ford,f-350,NaN,NaN,...,4wd,NaN,other,white,https://images.craigslist.org/00E0E_gYN0NMrK1Z...,2011 Ford F-350 F350 F 350 Super Duty Offe...,NaN,ma,42.8350,-71.1078
6998,7078887945,https://westernmass.craigslist.org/ctd/d/sprin...,western massachusetts,https://westernmass.craigslist.org,24200,2015.0,gmc,sierra 1500 crew cab sle,good,6 cylinders,...,4wd,NaN,pickup,black,https://images.craigslist.org/00000_iS1MWNwzCO...,Vehicle Stock# 2000424825📱 You can immediately...,NaN,ma,42.1100,-72.5300
6999,7078887927,https://westernmass.craigslist.org/ctd/d/sprin...,western massachusetts,https://westernmass.craigslist.org,23400,2013.0,toyota,tundra regular cab pickup,good,8 cylinders,...,4wd,NaN,pickup,black,https://images.craigslist.org/00505_deMwGw95Ve...,Vehicle Stock# 2000506559📱 You can immediately...,NaN,ma,42.1100,-72.5300

In [5]:
#Ver las nombres de las culumnas
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long'],
      dtype='object')

In [9]:
# renombras columnas
df.rename(index=str, columns={'url':'new_url'}).head()

,id,new_url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,NaN,...,NaN,NaN,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443
1,7088745301,https://greensboro.craigslist.org/ctd/d/bmw-3-...,greensboro,https://greensboro.craigslist.org,0,2011.0,bmw,335,NaN,6 cylinders,...,rwd,NaN,convertible,blue,https://images.craigslist.org/00S0S_1kTatLGLxB...,BMW 3 Series 335i Convertible Navigation Dakot...,NaN,nc,NaN,NaN
2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,NaN,...,NaN,NaN,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794
3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,NaN,...,fwd,NaN,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443
4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458

**Nota:**  
<font color=red> esto no cambia las columnas en definitiva debes de crear una variable o abregarle: 
    
```python
    df.rename(columns={'nonbre_anterior':'Nuevo_nombre'}, inplace=True)
```

In [11]:
#ver todas todos los registros deuna columna
df.url

0       https://greensboro.craigslist.org/ctd/d/cary-2...
1       https://greensboro.craigslist.org/ctd/d/bmw-3-...
2       https://greensboro.craigslist.org/cto/d/greens...
3       https://greensboro.craigslist.org/ctd/d/cary-2...
4       https://lincoln.craigslist.org/ctd/d/gretna-20...
                              ...
6995    https://marshall.craigslist.org/ctd/d/la-cross...
6996    https://westernmass.craigslist.org/ctd/d/new-l...
6997    https://westernmass.craigslist.org/ctd/d/plais...
6998    https://westernmass.craigslist.org/ctd/d/sprin...
6999    https://westernmass.craigslist.org/ctd/d/sprin...
Name: url, Length: 7000, dtype: object

In [12]:
#ver un determinados registros de una columna desde el primer registro hasta el 100
df.url[0:100]

0     https://greensboro.craigslist.org/ctd/d/cary-2...
1     https://greensboro.craigslist.org/ctd/d/bmw-3-...
2     https://greensboro.craigslist.org/cto/d/greens...
3     https://greensboro.craigslist.org/ctd/d/cary-2...
4     https://lincoln.craigslist.org/ctd/d/gretna-20...
                            ...
95    https://quadcities.craigslist.org/cto/d/maquok...
96    https://richmond.craigslist.org/ctd/d/henrico-...
97    https://quadcities.craigslist.org/cto/d/davenp...
98    https://quadcities.craigslist.org/cto/d/morris...
99    https://richmond.craigslist.org/ctd/d/henrico-...
Name: url, Length: 100, dtype: object

### Filtros de columnas

In [14]:
#filtrar por multiples columnas
df[['url','region', 'price']]

,url,region,price
0,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,10299
1,https://greensboro.craigslist.org/ctd/d/bmw-3-...,greensboro,0
2,https://greensboro.craigslist.org/cto/d/greens...,greensboro,9500
3,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,3995
4,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,41988
...,...,...,...
6995,https://marshall.craigslist.org/ctd/d/la-cross...,southwest MN,27438
6996,https://westernmass.craigslist.org/ctd/d/new-l...,western massachusetts,48900
6997,https://westernmass.craigslist.org/ctd/d/plais...,western massachusetts,29990
6998,https://westernmass.craigslist.org/ctd/d/sprin...,western massachusetts,24200
6999,https://westernmass.craigslist.org/ctd/d/sprin...,western massachusetts,23400

In [15]:
#otra forma de filtrar o la manera explicita de filtrar
df.loc[ :, ['region', 'price','url']]

,region,price,url
0,greensboro,10299,https://greensboro.craigslist.org/ctd/d/cary-2...
1,greensboro,0,https://greensboro.craigslist.org/ctd/d/bmw-3-...
2,greensboro,9500,https://greensboro.craigslist.org/cto/d/greens...
3,greensboro,3995,https://greensboro.craigslist.org/ctd/d/cary-2...
4,lincoln,41988,https://lincoln.craigslist.org/ctd/d/gretna-20...
...,...,...,...
6995,southwest MN,27438,https://marshall.craigslist.org/ctd/d/la-cross...
6996,western massachusetts,48900,https://westernmass.craigslist.org/ctd/d/new-l...
6997,western massachusetts,29990,https://westernmass.craigslist.org/ctd/d/plais...
6998,western massachusetts,24200,https://westernmass.craigslist.org/ctd/d/sprin...
6999,western massachusetts,23400,https://westernmass.craigslist.org/ctd/d/sprin...

In [16]:
#otra forma es con iloc
df.iloc[ : , 0:3]

,id,url,region
0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro
1,7088745301,https://greensboro.craigslist.org/ctd/d/bmw-3-...,greensboro
2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro
3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro
4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln
...,...,...,...
6995,7082198576,https://marshall.craigslist.org/ctd/d/la-cross...,southwest MN
6996,7078891017,https://westernmass.craigslist.org/ctd/d/new-l...,western massachusetts
6997,7078890846,https://westernmass.craigslist.org/ctd/d/plais...,western massachusetts
6998,7078887945,https://westernmass.craigslist.org/ctd/d/sprin...,western massachusetts
6999,7078887927,https://westernmass.craigslist.org/ctd/d/sprin...,western massachusetts

<font color=red> Con iloc lo que invocamos son los numeros donde estan posicionados las columnas, los primero : indica la posición de los registros en este caso todos. si queremos del 5 al 25 ejemplo:
```python
    df.iloc[5:25, 0:3]
  ```

In [17]:
#filtar filas y columnas 
df.loc[5:25, ['url', 'price', 'year']]

                                                  url  price    year
5   https://greensboro.craigslist.org/ctd/d/cary-2...  12995  2015.0
6   https://greensboro.craigslist.org/ctd/d/cary-2...  10995  2014.0
7   https://greensboro.craigslist.org/ctd/d/cary-2...   8995  2011.0
8   https://greensboro.craigslist.org/ctd/d/cary-2...   3995  2007.0
9   https://greensboro.craigslist.org/ctd/d/cary-2...   8995  2005.0
10  https://greensboro.craigslist.org/ctd/d/cary-2...   7995  2008.0
11  https://greensboro.craigslist.org/ctd/d/cary-2...  11995  2014.0
12  https://greensboro.craigslist.org/ctd/d/cary-2...   5495  2008.0
13  https://denver.craigslist.org/ctd/d/westminste...   7995  2010.0
14  https://denver.craigslist.org/ctd/d/englewood-...   8990  2016.0
15  https://denver.craigslist.org/cto/d/wheat-ridg...   7500  2012.0
16  https://greensboro.craigslist.org/ctd/d/cary-2...  12995  2009.0
17  https://greensboro.craigslist.org/ctd/d/cary-2...  12995  2009.0
18  https://greensboro.craigslist.org/ctd/d/cary-2...   7995  2011.0
19  https://greensboro.craigslist.org/ctd/d/cary-2...   5995  2006.0
20  https://denver.craigslist.org/ctd/d/denver-201...  19337  2013.0
21  https://denver.craigslist.org/cto/d/denver-200...   6900  2008.0
22  https://greensboro.craigslist.org/ctd/d/cary-2...   5495  2007.0
23  https://greensboro.craigslist.org/ctd/d/greens...  15300  2015.0
24  https://greensboro.craigslist.org/ctd/d/cary-2...   9895  2005.0
25  https://syracuse.craigslist.org/cto/d/syracuse...   4000  1995.0

In [19]:
#con iloc seleccionaremos de la columna 75 hasta la 100, con iloc no incluye la ultima registro ni la columna ultima
df.iloc[75:100, 4:7]

    price    year   manufacturer
75  12190  2013.0           audi
76   7785  2011.0           ford
77  15695  2015.0         toyota
78   3500  2009.0     volkswagen
79   4200  2008.0  mercedes-benz
80  20895  2016.0  mercedes-benz
81   5999  2005.0         toyota
82   5698  2012.0       chrysler
83   7000  2015.0         nissan
84   6500  2004.0           ford
85   2500  2004.0        pontiac
86   1000  2017.0            ram
87  10995  2014.0      chevrolet
88   5500  2013.0        hyundai
89   5500  2007.0      chevrolet
90  82000  1997.0          rover
91  12000  2001.0            ram
92  14950  2012.0          lexus
93   5500  2006.0      chevrolet
94   6900  2009.0         nissan
95   1950  1942.0            NaN
96  12495  2018.0         nissan
97   4000  2008.0          dodge
98   1500  2003.0           ford
99   7999  2013.0         nissan

### Eliminar columnas

In [22]:
df.drop('url',axis=1)

,id,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7088746062,greensboro,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,NaN,gas,...,NaN,NaN,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443
1,7088745301,greensboro,https://greensboro.craigslist.org,0,2011.0,bmw,335,NaN,6 cylinders,gas,...,rwd,NaN,convertible,blue,https://images.craigslist.org/00S0S_1kTatLGLxB...,BMW 3 Series 335i Convertible Navigation Dakot...,NaN,nc,NaN,NaN
2,7088744126,greensboro,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,NaN,gas,...,NaN,NaN,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794
3,7088743681,greensboro,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,NaN,gas,...,fwd,NaN,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443
4,7074612539,lincoln,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,NaN,gas,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,7082198576,southwest MN,https://marshall.craigslist.org,27438,2016.0,gmc,sierra 1500 denali,excellent,8 cylinders,gas,...,4wd,NaN,NaN,white,https://images.craigslist.org/00W0W_99r1UC3X6x...,This 1 owner 2016 GMC Sierra K1500 Denali has ...,NaN,mn,43.8855,-91.3382
6996,7078891017,western massachusetts,https://westernmass.craigslist.org,48900,2017.0,ford,f-350 super duty,excellent,8 cylinders,diesel,...,4wd,full-size,truck,white,https://images.craigslist.org/00101_hDO889klnF...,2017 Ford F-350 Super Duty Lariat 4x4 4dr Crew...,NaN,ma,42.4759,-73.3773
6997,7078890846,western massachusetts,https://westernmass.craigslist.org,29990,2011.0,ford,f-350,NaN,NaN,other,...,4wd,NaN,other,white,https://images.craigslist.org/00E0E_gYN0NMrK1Z...,2011 Ford F-350 F350 F 350 Super Duty Offe...,NaN,ma,42.8350,-71.1078
6998,7078887945,western massachusetts,https://westernmass.craigslist.org,24200,2015.0,gmc,sierra 1500 crew cab sle,good,6 cylinders,gas,...,4wd,NaN,pickup,black,https://images.craigslist.org/00000_iS1MWNwzCO...,Vehicle Stock# 2000424825📱 You can immediately...,NaN,ma,42.1100,-72.5300
6999,7078887927,western massachusetts,https://westernmass.craigslist.org,23400,2013.0,toyota,tundra regular cab pickup,good,8 cylinders,gas,...,4wd,NaN,pickup,black,https://images.craigslist.org/00505_deMwGw95Ve...,Vehicle Stock# 2000506559📱 You can immediately...,NaN,ma,42.1100,-72.5300

In [23]:
#otra forma es 
df.drop('region', axis='columns')

,id,url,region_url,price,year,manufacturer,model,condition,cylinders,fuel,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,NaN,gas,...,NaN,NaN,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443
1,7088745301,https://greensboro.craigslist.org/ctd/d/bmw-3-...,https://greensboro.craigslist.org,0,2011.0,bmw,335,NaN,6 cylinders,gas,...,rwd,NaN,convertible,blue,https://images.craigslist.org/00S0S_1kTatLGLxB...,BMW 3 Series 335i Convertible Navigation Dakot...,NaN,nc,NaN,NaN
2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,NaN,gas,...,NaN,NaN,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794
3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,NaN,gas,...,fwd,NaN,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443
4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,NaN,gas,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,7082198576,https://marshall.craigslist.org/ctd/d/la-cross...,https://marshall.craigslist.org,27438,2016.0,gmc,sierra 1500 denali,excellent,8 cylinders,gas,...,4wd,NaN,NaN,white,https://images.craigslist.org/00W0W_99r1UC3X6x...,This 1 owner 2016 GMC Sierra K1500 Denali has ...,NaN,mn,43.8855,-91.3382
6996,7078891017,https://westernmass.craigslist.org/ctd/d/new-l...,https://westernmass.craigslist.org,48900,2017.0,ford,f-350 super duty,excellent,8 cylinders,diesel,...,4wd,full-size,truck,white,https://images.craigslist.org/00101_hDO889klnF...,2017 Ford F-350 Super Duty Lariat 4x4 4dr Crew...,NaN,ma,42.4759,-73.3773
6997,7078890846,https://westernmass.craigslist.org/ctd/d/plais...,https://westernmass.craigslist.org,29990,2011.0,ford,f-350,NaN,NaN,other,...,4wd,NaN,other,white,https://images.craigslist.org/00E0E_gYN0NMrK1Z...,2011 Ford F-350 F350 F 350 Super Duty Offe...,NaN,ma,42.8350,-71.1078
6998,7078887945,https://westernmass.craigslist.org/ctd/d/sprin...,https://westernmass.craigslist.org,24200,2015.0,gmc,sierra 1500 crew cab sle,good,6 cylinders,gas,...,4wd,NaN,pickup,black,https://images.craigslist.org/00000_iS1MWNwzCO...,Vehicle Stock# 2000424825📱 You can immediately...,NaN,ma,42.1100,-72.5300
6999,7078887927,https://westernmass.craigslist.org/ctd/d/sprin...,https://westernmass.craigslist.org,23400,2013.0,toyota,tundra regular cab pickup,good,8 cylinders,gas,...,4wd,NaN,pickup,black,https://images.craigslist.org/00505_deMwGw95Ve...,Vehicle Stock# 2000506559📱 You can immediately...,NaN,ma,42.1100,-72.5300

In [24]:
#eliminar varias columnas
df.drop(['price', 'paint_color'], axis = 'columns')

,id,url,region,region_url,year,manufacturer,model,condition,cylinders,fuel,...,vin,drive,size,type,image_url,description,county,state,lat,long
0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,2012.0,acura,tl,NaN,NaN,gas,...,19UUA8F22CA003926,NaN,NaN,other,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443
1,7088745301,https://greensboro.craigslist.org/ctd/d/bmw-3-...,greensboro,https://greensboro.craigslist.org,2011.0,bmw,335,NaN,6 cylinders,gas,...,NaN,rwd,NaN,convertible,https://images.craigslist.org/00S0S_1kTatLGLxB...,BMW 3 Series 335i Convertible Navigation Dakot...,NaN,nc,NaN,NaN
2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro,https://greensboro.craigslist.org,2011.0,jaguar,xf,excellent,NaN,gas,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794
3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,2004.0,honda,element,NaN,NaN,gas,...,5J6YH18314L006498,fwd,NaN,SUV,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443
4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,https://lincoln.craigslist.org,2016.0,chevrolet,silverado k2500hd,NaN,NaN,gas,...,1GC1KWE85GF266427,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,7082198576,https://marshall.craigslist.org/ctd/d/la-cross...,southwest MN,https://marshall.craigslist.org,2016.0,gmc,sierra 1500 denali,excellent,8 cylinders,gas,...,3GTU2PEC8GG271014,4wd,NaN,NaN,https://images.craigslist.org/00W0W_99r1UC3X6x...,This 1 owner 2016 GMC Sierra K1500 Denali has ...,NaN,mn,43.8855,-91.3382
6996,7078891017,https://westernmass.craigslist.org/ctd/d/new-l...,western massachusetts,https://westernmass.craigslist.org,2017.0,ford,f-350 super duty,excellent,8 cylinders,diesel,...,1FT8W3BT6HEC35978,4wd,full-size,truck,https://images.craigslist.org/00101_hDO889klnF...,2017 Ford F-350 Super Duty Lariat 4x4 4dr Crew...,NaN,ma,42.4759,-73.3773
6997,7078890846,https://westernmass.craigslist.org/ctd/d/plais...,western massachusetts,https://westernmass.craigslist.org,2011.0,ford,f-350,NaN,NaN,other,...,1FD8X3HT8BEB59283,4wd,NaN,other,https://images.craigslist.org/00E0E_gYN0NMrK1Z...,2011 Ford F-350 F350 F 350 Super Duty Offe...,NaN,ma,42.8350,-71.1078
6998,7078887945,https://westernmass.craigslist.org/ctd/d/sprin...,western massachusetts,https://westernmass.craigslist.org,2015.0,gmc,sierra 1500 crew cab sle,good,6 cylinders,gas,...,3GTU2UEH3FG211425,4wd,NaN,pickup,https://images.craigslist.org/00000_iS1MWNwzCO...,Vehicle Stock# 2000424825📱 You can immediately...,NaN,ma,42.1100,-72.5300
6999,7078887927,https://westernmass.craigslist.org/ctd/d/sprin...,western massachusetts,https://westernmass.craigslist.org,2013.0,toyota,tundra regular cab pickup,good,8 cylinders,gas,...,5TFKY5F14DX005973,4wd,NaN,pickup,https://images.craigslist.org/00505_deMwGw95Ve...,Vehicle Stock# 2000506559📱 You can immediately...,NaN,ma,42.1100,-72.5300

**Nota:**  
<font color=red> al igual que el comando rename(), no cambia las columnas en definitiva debes de crear una variable o abregarle inplace, ejemplo: 
    
```python
    df.drop(['nonbre_columna_1','nombre-columna_2'], axis=1, inplace=True)
    ```

### Agregar columnas

In [25]:
df['age']= 2019-df.year
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,age
0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,NaN,...,NaN,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443,7.0
1,7088745301,https://greensboro.craigslist.org/ctd/d/bmw-3-...,greensboro,https://greensboro.craigslist.org,0,2011.0,bmw,335,NaN,6 cylinders,...,NaN,convertible,blue,https://images.craigslist.org/00S0S_1kTatLGLxB...,BMW 3 Series 335i Convertible Navigation Dakot...,NaN,nc,NaN,NaN,8.0
2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,NaN,...,NaN,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794,8.0
3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,NaN,...,NaN,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443,15.0
4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458,3.0

### filtrar columnas en base a sus regitros

In [27]:
#filtrar la columna age los mayor que 15
df[df.age > 15]

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,age
25,7076228238,https://syracuse.craigslist.org/cto/d/syracuse...,syracuse,https://syracuse.craigslist.org,4000,1995.0,dodge,NaN,excellent,8 cylinders,...,full-size,truck,grey,https://images.craigslist.org/00m0m_7RJRaFhXwC...,Very solid truck. Runs an drives great. 5.2 l...,NaN,ny,43.0734,-76.1568,24.0
34,7076167497,https://syracuse.craigslist.org/cto/d/canastot...,syracuse,https://syracuse.craigslist.org,1500,2003.0,jeep,liberty,fair,6 cylinders,...,NaN,NaN,NaN,https://images.craigslist.org/00S0S_Wo6SkBinJg...,2003 Jeep Liberty . Frame going run and rides ...,NaN,ny,43.0878,-75.7602,16.0
41,7092632071,https://southjersey.craigslist.org/cto/d/cambr...,south jersey,https://southjersey.craigslist.org,1,2000.0,mercedes-benz,benz s500,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00B0B_11X8ZRO5eh...,Located in Newark Delaware 19711 I have many ...,NaN,nj,38.4630,-76.1436,19.0
42,7082736708,https://richmond.craigslist.org/ctd/d/2002-nis...,richmond,https://richmond.craigslist.org,2800,2002.0,nissan,xterra,like new,6 cylinders,...,full-size,SUV,silver,https://images.craigslist.org/00Y0Y_hni4S7qimn...,2002 Nissan xterra 190k miles very clean and ...,NaN,va,37.7202,-77.0998,17.0
43,7092624518,https://southjersey.craigslist.org/cto/d/penns...,south jersey,https://southjersey.craigslist.org,6795,2002.0,jeep,liberty,excellent,6 cylinders,...,NaN,SUV,black,https://images.craigslist.org/00B0B_4Ftv7cyc8p...,"GORGEOUS !!! 2002 Jeep Liberty Sport , v-6 4x4...",NaN,nj,39.6371,-75.4981,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6953,7083134337,https://marshall.craigslist.org/cto/d/hudson-f...,southwest MN,https://marshall.craigslist.org,7200,2001.0,ford,f-250 super duty,good,8 cylinders,...,full-size,pickup,NaN,https://images.craigslist.org/00B0B_iz4Nyqmwxc...,For sale: 2001 Ford F-250 Super Duty 4X4 pick ...,NaN,mn,43.1284,-96.5306,18.0
6958,7082879559,https://marshall.craigslist.org/cto/d/lismore-...,southwest MN,https://marshall.craigslist.org,1100,1997.0,ford,f-250,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00e0e_8IhM5vFx1G...,1997 ford 250 with 460 engine in it with about...,NaN,mn,43.7339,-95.9682,22.0
6959,7082810922,https://marshall.craigslist.org/cto/d/lake-ben...,southwest MN,https://marshall.craigslist.org,2500,2002.0,pontiac,bonneville,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00Y0Y_aPJChTGjmC...,For Sale: 2002 Pontiac Bonneville SLE Excellen...,NaN,mn,44.2782,-96.2910,17.0
6988,7078951178,https://westernmass.craigslist.org/cto/d/longm...,western massachusetts,https://westernmass.craigslist.org,3000,2003.0,ford,f150,good,8 cylinders,...,full-size,pickup,green,https://images.craigslist.org/00h0h_b39RzCuXzV...,Ford F-150 for sale. Well maintained and runs ...,NaN,ma,42.0672,-72.5056,16.0
6990,7078920156,https://westernmass.craigslist.org/ctd/d/water...,western massachusetts,https://westernmass.craigslist.org,12499,2001.0,chevrolet,silverado 2500,excellent,8 cylinders,...,full-size,truck,blue,https://images.craigslist.org/00D0D_aCPAbjuZqJ...,For sale I have a 2001 Chevrolet Silverado 250...,NaN,ma,41.5511,-73.0645,18.0

In [29]:
# la forma explicita es con loc 
df.loc[df.age > 20, : ]

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,age
25,7076228238,https://syracuse.craigslist.org/cto/d/syracuse...,syracuse,https://syracuse.craigslist.org,4000,1995.0,dodge,NaN,excellent,8 cylinders,...,full-size,truck,grey,https://images.craigslist.org/00m0m_7RJRaFhXwC...,Very solid truck. Runs an drives great. 5.2 l...,NaN,ny,43.0734,-76.1568,24.0
58,7088669259,https://greensboro.craigslist.org/cto/d/denton...,greensboro,https://greensboro.craigslist.org,1500,1989.0,chevrolet,silverado 1500,fair,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00707_eaVzGFwvbD...,CHEVROLET 4x4 truck. 1989. Short bed. Has been...,NaN,nc,35.6663,-80.0522,30.0
90,7074785116,https://westslope.craigslist.org/cto/d/telluri...,western slope,https://westslope.craigslist.org,82000,1997.0,rover,defender 90,excellent,8 cylinders,...,full-size,SUV,green,https://images.craigslist.org/01616_4FbStENam1...,1997 Land Rover Defender 90 Convertible. 54000...,NaN,co,37.9400,-107.8210,22.0
95,7085529032,https://quadcities.craigslist.org/cto/d/maquok...,"quad cities, IA/IL",https://quadcities.craigslist.org,1950,1942.0,NaN,plymouth,fair,6 cylinders,...,full-size,sedan,blue,https://images.craigslist.org/00b0b_jKSAjz6nO2...,1940s plymouth 2 door sedan. Good body. New ro...,NaN,il,42.0778,-90.6771,77.0
141,7092515974,https://southjersey.craigslist.org/cto/d/cape-...,south jersey,https://southjersey.craigslist.org,30000,1971.0,pontiac,gto,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00N0N_lECcSCcByH...,1971 GTO A True GTO Not a Lemans Have all ori...,NaN,nj,39.1378,-74.7806,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6737,7092117406,https://omaha.craigslist.org/ctd/d/omaha-1993-...,omaha / council bluffs,https://omaha.craigslist.org,15000,1993.0,dodge,d250 & w250,excellent,6 cylinders,...,NaN,NaN,NaN,https://images.craigslist.org/00I0I_l8Cjyf7FmY...,1993 Dodge D250 & W250 4X4 Ready To Upgrade...,NaN,ia,41.2412,-95.9957,26.0
6836,7091746439,https://southjersey.craigslist.org/ctd/d/burli...,south jersey,https://southjersey.craigslist.org,299,1998.0,bmw,528i,excellent,6 cylinders,...,NaN,sedan,silver,https://images.craigslist.org/00F0F_ijzvapV3Nm...,WE CAN FINANCE THIS SUV WITH AS LITTLE AS $299...,NaN,nj,40.0680,-74.8454,21.0
6902,7090359592,https://nashville.craigslist.org/cto/d/mount-j...,nashville,https://nashville.craigslist.org,10000,1987.0,ram,charger,excellent,8 cylinders,...,full-size,SUV,blue,https://images.craigslist.org/00303_kMICc2PJNx...,Garage kept dodge ram charger 1 owner in amazi...,NaN,tn,36.1908,-86.4812,32.0
6911,7079276784,https://westernmass.craigslist.org/cto/d/green...,western massachusetts,https://westernmass.craigslist.org,9500,1950.0,chevrolet,panel truck,good,8 cylinders,...,NaN,NaN,green,https://images.craigslist.org/00M0M_dSPhBP0Q7L...,Currently on the road! 350 engine. 350 trans...,NaN,ma,42.6013,-72.6236,69.0
6958,7082879559,https://marshall.craigslist.org/cto/d/lismore-...,southwest MN,https://marshall.craigslist.org,1100,1997.0,ford,f-250,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00e0e_8IhM5vFx1G...,1997 ford 250 with 460 engine in it with about...,NaN,mn,43.7339,-95.9682,22.0

In [31]:
# queremos los registros que su nafufacture sea igual a los dodge
df.loc[df.manufacturer=='dodge', : ]

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,age
25,7076228238,https://syracuse.craigslist.org/cto/d/syracuse...,syracuse,https://syracuse.craigslist.org,4000,1995.0,dodge,NaN,excellent,8 cylinders,...,full-size,truck,grey,https://images.craigslist.org/00m0m_7RJRaFhXwC...,Very solid truck. Runs an drives great. 5.2 l...,NaN,ny,43.0734,-76.1568,24.0
63,7088659401,https://greensboro.craigslist.org/ctd/d/greens...,greensboro,https://greensboro.craigslist.org,8599,2015.0,dodge,dart,good,4 cylinders,...,mid-size,sedan,white,https://images.craigslist.org/00u0u_b43m2dx4fm...,2015 DODGE DART Vehicle Information Make: DOD...,NaN,nc,36.0220,-79.7821,4.0
72,7085764126,https://quadcities.craigslist.org/ctd/d/clinto...,"quad cities, IA/IL",https://quadcities.craigslist.org,3500,2013.0,dodge,dart,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00Z0Z_e5wIeanEon...,K and K at 1625 12th Avenue South has over 40 ...,NaN,il,41.8517,-90.2078,6.0
97,7085512550,https://quadcities.craigslist.org/cto/d/davenp...,"quad cities, IA/IL",https://quadcities.craigslist.org,4000,2008.0,dodge,grand caravan se,NaN,NaN,...,NaN,NaN,white,https://images.craigslist.org/00d0d_lewVRXhiaZ...,2008 Dodge Grand Caravan 175k Miles Runs and ...,NaN,il,41.5386,-90.6115,11.0
115,7085462342,https://quadcities.craigslist.org/ctd/d/cedar-...,"quad cities, IA/IL",https://quadcities.craigslist.org,16990,2016.0,dodge,journey,excellent,6 cylinders,...,NaN,SUV,black,https://images.craigslist.org/00Z0Z_3JrOLfRtqr...,2016 Dodge JOURNEY CROSSROAD PLUS SUV Drive ...,NaN,il,41.9705,-91.6698,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6737,7092117406,https://omaha.craigslist.org/ctd/d/omaha-1993-...,omaha / council bluffs,https://omaha.craigslist.org,15000,1993.0,dodge,d250 & w250,excellent,6 cylinders,...,NaN,NaN,NaN,https://images.craigslist.org/00I0I_l8Cjyf7FmY...,1993 Dodge D250 & W250 4X4 Ready To Upgrade...,NaN,ia,41.2412,-95.9957,26.0
6793,7085911744,https://onslow.craigslist.org/ctd/d/smithfield...,jacksonville,https://onslow.craigslist.org,8995,2014.0,dodge,journey sxt,NaN,NaN,...,NaN,SUV,silver,https://images.craigslist.org/00N0N_gbEz5ndbUE...,2014 Dodge Journey SXT SUVExterior Color: Brig...,NaN,nc,35.5068,-78.3479,5.0
6841,7079573335,https://westernmass.craigslist.org/ctd/d/oakvi...,western massachusetts,https://westernmass.craigslist.org,27081,2016.0,dodge,durango,NaN,8 cylinders,...,NaN,SUV,NaN,https://images.craigslist.org/00C0C_91Zgh8FauI...,Highline Car Connection Veteran Owned & Operat...,NaN,ma,41.5864,-73.0805,3.0
6980,7078990570,https://westernmass.craigslist.org/ctd/d/chico...,western massachusetts,https://westernmass.craigslist.org,10933,2015.0,dodge,grand caravan,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00w0w_3vzErQugiN...,Gray Exterior Black cloth Interior 3.5 Liter 6...,NaN,ma,42.1487,-72.6079,4.0
6993,7076717821,https://collegestation.craigslist.org/cto/d/br...,college station,https://collegestation.craigslist.org,4700,2010.0,dodge,charger,good,6 cylinders,...,full-size,sedan,black,https://images.craigslist.org/00X0X_f6ZXGRZOuf...,Was a detectives car so it has low mileage. Ma...,NaN,tx,30.6582,-96.3351,9.0

In [33]:
# si podemos realizar filtros que cumplan dos condiciones
df.loc[(df.manufacturer=='dodge') & (df.region=='college station'), : ]

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,age
5047,7080387134,https://collegestation.craigslist.org/ctd/d/br...,college station,https://collegestation.craigslist.org,20900,2018.0,dodge,challenger,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00V0V_d9LSF5zjwM...,THE 2018 DODGE CHALLENGER IS A KING AMONG COUP...,NaN,tx,30.6529,-96.3359,1.0
6490,7078337562,https://collegestation.craigslist.org/ctd/d/br...,college station,https://collegestation.craigslist.org,23900,2019.0,dodge,challenger,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00M0M_iPxiQrRmUJ...,THE 2019 DODGE CHALLENGER IS A KING AMONG COUP...,NaN,tx,30.6529,-96.3359,0.0
6993,7076717821,https://collegestation.craigslist.org/cto/d/br...,college station,https://collegestation.craigslist.org,4700,2010.0,dodge,charger,good,6 cylinders,...,full-size,sedan,black,https://images.craigslist.org/00X0X_f6ZXGRZOuf...,Was a detectives car so it has low mileage. Ma...,NaN,tx,30.6582,-96.3351,9.0

In [51]:
# otra forma mas avanzada de filtrar es realizandolo con el comando query
df.query('region =="college station"' and 'manufacturer =="dodge"')

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,age
25,7076228238,https://syracuse.craigslist.org/cto/d/syracuse...,syracuse,https://syracuse.craigslist.org,4000,1995.0,dodge,NaN,excellent,8 cylinders,...,full-size,truck,grey,https://images.craigslist.org/00m0m_7RJRaFhXwC...,Very solid truck. Runs an drives great. 5.2 l...,NaN,ny,43.0734,-76.1568,24.0
63,7088659401,https://greensboro.craigslist.org/ctd/d/greens...,greensboro,https://greensboro.craigslist.org,8599,2015.0,dodge,dart,good,4 cylinders,...,mid-size,sedan,white,https://images.craigslist.org/00u0u_b43m2dx4fm...,2015 DODGE DART Vehicle Information Make: DOD...,NaN,nc,36.0220,-79.7821,4.0
72,7085764126,https://quadcities.craigslist.org/ctd/d/clinto...,"quad cities, IA/IL",https://quadcities.craigslist.org,3500,2013.0,dodge,dart,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00Z0Z_e5wIeanEon...,K and K at 1625 12th Avenue South has over 40 ...,NaN,il,41.8517,-90.2078,6.0
97,7085512550,https://quadcities.craigslist.org/cto/d/davenp...,"quad cities, IA/IL",https://quadcities.craigslist.org,4000,2008.0,dodge,grand caravan se,NaN,NaN,...,NaN,NaN,white,https://images.craigslist.org/00d0d_lewVRXhiaZ...,2008 Dodge Grand Caravan 175k Miles Runs and ...,NaN,il,41.5386,-90.6115,11.0
115,7085462342,https://quadcities.craigslist.org/ctd/d/cedar-...,"quad cities, IA/IL",https://quadcities.craigslist.org,16990,2016.0,dodge,journey,excellent,6 cylinders,...,NaN,SUV,black,https://images.craigslist.org/00Z0Z_3JrOLfRtqr...,2016 Dodge JOURNEY CROSSROAD PLUS SUV Drive ...,NaN,il,41.9705,-91.6698,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6737,7092117406,https://omaha.craigslist.org/ctd/d/omaha-1993-...,omaha / council bluffs,https://omaha.craigslist.org,15000,1993.0,dodge,d250 & w250,excellent,6 cylinders,...,NaN,NaN,NaN,https://images.craigslist.org/00I0I_l8Cjyf7FmY...,1993 Dodge D250 & W250 4X4 Ready To Upgrade...,NaN,ia,41.2412,-95.9957,26.0
6793,7085911744,https://onslow.craigslist.org/ctd/d/smithfield...,jacksonville,https://onslow.craigslist.org,8995,2014.0,dodge,journey sxt,NaN,NaN,...,NaN,SUV,silver,https://images.craigslist.org/00N0N_gbEz5ndbUE...,2014 Dodge Journey SXT SUVExterior Color: Brig...,NaN,nc,35.5068,-78.3479,5.0
6841,7079573335,https://westernmass.craigslist.org/ctd/d/oakvi...,western massachusetts,https://westernmass.craigslist.org,27081,2016.0,dodge,durango,NaN,8 cylinders,...,NaN,SUV,NaN,https://images.craigslist.org/00C0C_91Zgh8FauI...,Highline Car Connection Veteran Owned & Operat...,NaN,ma,41.5864,-73.0805,3.0
6980,7078990570,https://westernmass.craigslist.org/ctd/d/chico...,western massachusetts,https://westernmass.craigslist.org,10933,2015.0,dodge,grand caravan,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00w0w_3vzErQugiN...,Gray Exterior Black cloth Interior 3.5 Liter 6...,NaN,ma,42.1487,-72.6079,4.0
6993,7076717821,https://collegestation.craigslist.org/cto/d/br...,college station,https://collegestation.craigslist.org,4700,2010.0,dodge,charger,good,6 cylinders,...,full-size,sedan,black,https://images.craigslist.org/00X0X_f6ZXGRZOuf...,Was a detectives car so it has low mileage. Ma...,NaN,tx,30.6582,-96.3351,9.0

### operaciones basicas

In [54]:
#calculmamos el precio por millas
df['price_per_miles'] = df.price / df.odometer
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,type,paint_color,image_url,description,county,state,lat,long,age,price_per_miles
0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,NaN,...,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443,7.0,0.114197
1,7088745301,https://greensboro.craigslist.org/ctd/d/bmw-3-...,greensboro,https://greensboro.craigslist.org,0,2011.0,bmw,335,NaN,6 cylinders,...,convertible,blue,https://images.craigslist.org/00S0S_1kTatLGLxB...,BMW 3 Series 335i Convertible Navigation Dakot...,NaN,nc,NaN,NaN,8.0,0.000000
2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,NaN,...,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794,8.0,0.111765
3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,NaN,...,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443,15.0,0.018798
4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,NaN,...,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458,3.0,NaN

### Trabajar con la función lambda

In [59]:
df['price_2'] = df.price.apply(lambda x : x*2)
df.price_2.head(15)

0     20598
1         0
2     19000
3      7990
4     83976
5     25990
6     21990
7     17990
8      7990
9     17990
10    15990
11    23990
12    10990
13    15990
14    17980
Name: price_2, dtype: int64

In [60]:
# vamos a realizar otra columna donde lo multipicaremos el cada registro lo multiplicaremos por 3
df['price_3']= df.price.apply(lambda x: x*3)
df.price_3.head(15)

0      30897
1          0
2      28500
3      11985
4     125964
5      38985
6      32985
7      26985
8      11985
9      26985
10     23985
11     35985
12     16485
13     23985
14     26970
Name: price_3, dtype: int64

In [61]:
# podemos crear grupos o jerarquias
df['grupos'] = df.price.apply( lambda x: 'expensives' if x > 10000 else 'cheap' )
df.grupos.head(15)

0     expensives
1          cheap
2          cheap
3          cheap
4     expensives
5     expensives
6     expensives
7          cheap
8          cheap
9          cheap
10         cheap
11    expensives
12         cheap
13         cheap
14         cheap
Name: grupos, dtype: object

In [64]:
# realizar la funcion en base a dos condiciones
df['new_group'] = df.apply(lambda x: 'yes' if x ['price'] > 10000 and x['age'] < 7 else 'no', axis =1)
df.new_group.tail()

6995    yes
6996    yes
6997     no
6998    yes
6999    yes
Name: new_group, dtype: object

In [66]:
#otra  forma es
df['new_2'] = df[['price', 'age']].apply(lambda x: 'yes' if x[0]>10000 and x[1] <7 else 'no', axis ='columns')
df.new_2.head()

0     no
1     no
2     no
3     no
4    yes
Name: new_2, dtype: object

### quantiles con el comnando cut

In [70]:
pd.cut(df.price,5 )

0       (-1316134.911, 263226982.2]
1       (-1316134.911, 263226982.2]
2       (-1316134.911, 263226982.2]
3       (-1316134.911, 263226982.2]
4       (-1316134.911, 263226982.2]
                   ...
6995    (-1316134.911, 263226982.2]
6996    (-1316134.911, 263226982.2]
6997    (-1316134.911, 263226982.2]
6998    (-1316134.911, 263226982.2]
6999    (-1316134.911, 263226982.2]
Name: price, Length: 7000, dtype: category
Categories (5, interval[float64]): [(-1316134.911, 263226982.2] < (263226982.2, 526453964.4] < (526453964.4, 789680946.6] < (789680946.6, 1052907928.8] < (1052907928.8, 1316134911.0]]

In [71]:
pd.qcut(df.price, 5)

0             (7000.0, 12995.0]
1              (-0.001, 2800.0]
2             (7000.0, 12995.0]
3              (2800.0, 7000.0]
4       (19988.0, 1316134911.0]
                 ...
6995    (19988.0, 1316134911.0]
6996    (19988.0, 1316134911.0]
6997    (19988.0, 1316134911.0]
6998    (19988.0, 1316134911.0]
6999    (19988.0, 1316134911.0]
Name: price, Length: 7000, dtype: category
Categories (5, interval[float64]): [(-0.001, 2800.0] < (2800.0, 7000.0] < (7000.0, 12995.0] < (12995.0, 19988.0] < (19988.0, 1316134911.0]]

### Crear variables dummies

In [75]:
df_dummmies = pd.get_dummies(df[['grupos', 'new_2']])
df_dummmies.head()

   grupos_cheap  grupos_expensives  new_2_no  new_2_yes
0             0                  1         1          0
1             1                  0         1          0
2             1                  0         1          0
3             1                  0         1          0
4             0                  1         0          1

In [76]:
# get dummies eliminando la primera columna
datos_dummies = pd.get_dummies(df[['grupos', 'new_2']], drop_first=True)
datos_dummies.head()

   grupos_expensives  new_2_yes
0                  1          0
1                  0          0
2                  0          0
3                  0          0
4                  1          1

In [83]:
#se puede realizar con una columna o mas de una a la vez
data_dummies = pd.get_dummies(df[['grupos', 'new_2', 'new_group']])
data_dummies.head()

,grupos_cheap,grupos_expensives,new_2_no,new_2_yes,new_group_no,new_group_yes
0,0,1,1,0,1,0
1,1,0,1,0,1,0
2,1,0,1,0,1,0
3,1,0,1,0,1,0
4,0,1,0,1,0,1

### Pivot tablet

In [96]:
df.pivot_table(index='year', columns ='type', values='price', aggfunc='mean').sort_index()

type,SUV,bus,convertible,coupe,hatchback,mini-van,offroad,other,pickup,sedan,truck,van,wagon
year,,,,,,,,,,,,,
1934.0,NaN,NaN,NaN,39000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1937.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32000.000000,NaN,NaN
1942.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.000000,NaN,NaN,NaN
1948.0,2000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1949.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9500.000000,NaN,24988.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017.0,17190.701149,NaN,12766.666667,19667.850000,15199.775000,12981.333333,NaN,17280.763441,26155.097222,13245.112782,23341.944444,17825.6000,16769.437500
2018.0,18233.690909,NaN,29995.000000,24895.153846,14395.333333,16994.000000,NaN,15787.863636,28130.083333,12598.506849,32850.090909,13678.3750,12249.818182
2019.0,19384.904762,NaN,20825.000000,21733.333333,18550.714286,NaN,NaN,22879.000000,27920.750000,13969.372093,22533.818182,24819.6875,18359.000000
2020.0,16873.500000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,53693.666667,4671.750000,0.000000,NaN,NaN
2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1111.000000,NaN,NaN,NaN,NaN,NaN

In [104]:
df.pivot_table(index = 'year', columns='manufacturer', values = 'price', aggfunc='mean')

manufacturer,acura,audi,bmw,buick,cadillac,chevrolet,chrysler,dodge,fiat,ford,...,nissan,pontiac,ram,rover,saturn,subaru,tesla,toyota,volkswagen,volvo
year,,,,,,,,,,,,,,,,,,,,,
1929.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7333.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1934.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39000.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1937.0,NaN,NaN,NaN,NaN,NaN,32000.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1949.0,NaN,NaN,NaN,NaN,NaN,12494.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017.0,24862.5,18588.8,22237.333333,16493.0,29574.750000,15219.269663,11022.0,15373.142857,8360.0,22531.761468,...,11645.962025,NaN,16830.857143,NaN,NaN,18993.666667,NaN,19495.194444,13368.000000,19500.0
2018.0,24965.0,346.0,NaN,13312.5,18741.333333,20635.722222,14662.0,13556.000000,21600.0,18196.756410,...,14518.234043,NaN,28028.388889,67500.0,NaN,18906.500000,NaN,18431.212121,23388.500000,0.0
2019.0,33495.0,NaN,NaN,41950.0,404.000000,17749.342105,NaN,25687.500000,25650.0,22386.162791,...,13669.357143,NaN,17129.071429,27995.0,NaN,16315.000000,NaN,23347.687500,17664.166667,NaN
2020.0,NaN,NaN,NaN,NaN,NaN,15221.000000,NaN,NaN,NaN,33747.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16537.000000,NaN,NaN
2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1111.000000,NaN

In [110]:
# se puede aplicar una fucion fuera de esto lo haria una serie no es la forma correcta
df.pivot_table(index = 'year', columns = 'type', values = 'price' ).mean()

type
SUV            986160.878362
bus             14083.333333
convertible     10612.431452
coupe           10556.786508
hatchback        7124.177814
mini-van         6245.654875
offroad         18777.857143
other           10973.260812
pickup          13040.898181
sedan            7166.101856
truck           11863.994847
van              9445.749140
wagon            8721.989171
dtype: float64

### Agrupar  
groupby y pivot son muy utilizados para realizar análisis

In [108]:
df.groupby(['year', 'type']).price.mean().unstack()

type,SUV,bus,convertible,coupe,hatchback,mini-van,offroad,other,pickup,sedan,truck,van,wagon
year,,,,,,,,,,,,,
1934.0,NaN,NaN,NaN,39000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1937.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32000.000000,NaN,NaN
1942.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.000000,NaN,NaN,NaN
1948.0,2000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1949.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9500.000000,NaN,24988.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017.0,17190.701149,NaN,12766.666667,19667.850000,15199.775000,12981.333333,NaN,17280.763441,26155.097222,13245.112782,23341.944444,17825.6000,16769.437500
2018.0,18233.690909,NaN,29995.000000,24895.153846,14395.333333,16994.000000,NaN,15787.863636,28130.083333,12598.506849,32850.090909,13678.3750,12249.818182
2019.0,19384.904762,NaN,20825.000000,21733.333333,18550.714286,NaN,NaN,22879.000000,27920.750000,13969.372093,22533.818182,24819.6875,18359.000000
2020.0,16873.500000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,53693.666667,4671.750000,0.000000,NaN,NaN
2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1111.000000,NaN,NaN,NaN,NaN,NaN

In [109]:
df.groupby(['year', 'type']).price.mean()

year    type
1934.0  coupe        39000.000000
1937.0  truck        32000.000000
1942.0  sedan         1950.000000
1948.0  SUV           2000.000000
1949.0  pickup        9500.000000
                         ...
2020.0  hatchback        0.000000
        pickup       53693.666667
        sedan         4671.750000
        truck            0.000000
2021.0  other         1111.000000
Name: price, Length: 345, dtype: float64

In [111]:
df.groupby('type').mean()

,id,price,year,odometer,county,lat,long,age,price_per_miles,price_2,price_3
type,,,,,,,,,,,
SUV,7.086306e+09,2.235671e+06,2010.931472,105592.375479,NaN,40.756040,-96.772201,8.068528,inf,4.471342e+06,6.707014e+06
bus,7.088252e+09,1.408333e+04,2004.666667,121338.666667,NaN,42.164450,-106.112450,14.333333,0.179206,2.816667e+04,4.225000e+04
convertible,7.086637e+09,1.008956e+04,2007.097087,74007.358696,NaN,39.911677,-92.445354,11.902913,2.101361,2.017913e+04,3.026869e+04
coupe,7.086744e+09,1.481560e+04,2010.899371,60955.274834,NaN,37.510314,-86.250727,8.100629,1.641361,2.963121e+04,4.444681e+04
hatchback,7.085829e+09,1.058804e+04,2013.215596,65029.638614,NaN,39.026343,-90.202242,5.784404,2.946462,2.117607e+04,3.176411e+04
mini-van,7.086483e+09,7.428984e+03,2009.596774,167382.563636,NaN,40.836168,-96.132397,9.403226,0.087302,1.485797e+04,2.228695e+04
offroad,7.086111e+09,1.877786e+04,2006.285714,114144.000000,NaN,37.407243,-83.149686,12.714286,0.412467,3.755571e+04,5.633357e+04
other,7.086385e+09,1.557560e+04,2014.413994,49358.960000,NaN,36.642755,-84.154438,4.586006,inf,3.115120e+04,4.672680e+04
pickup,7.085562e+09,2.030179e+04,2010.838628,95776.854860,NaN,39.046290,-90.591094,8.161372,inf,4.060357e+04,6.090536e+04
sedan,7.086204e+09,8.953825e+03,2011.842258,86695.501178,NaN,39.960126,-92.795405,7.157742,inf,1.790765e+04,2.686147e+04
truck,7.085896e+09,1.592575e+04,2009.973451,111493.354201,NaN,40.880875,-99.087965,9.026549,4.085059,3.185150e+04,4.777725e+04
van,7.085709e+09,1.320876e+04,2012.116071,82759.802083,NaN,38.130969,-90.704472,6.883929,45.736229,2.641752e+04,3.962628e+04
wagon,7.086305e+09,1.039778e+04,2012.306122,93304.493056,NaN,41.143827,-96.663525,6.693878,0.525456,2.079555e+04,3.119333e+04

In [113]:
df.groupby('manufacturer').count().unstack()

       manufacturer
id     acura            49
       audi             60
       bmw             208
       buick           100
       cadillac         87
                      ...
new_2  subaru          161
       tesla             2
       toyota          558
       volkswagen      162
       volvo            32
Length: 1085, dtype: int64

In [117]:
#agrupar manufactura de vehiculo por año traemos el precio promedio de vehiculos, eliminamos la columna de indice
df.groupby(['manufacturer', 'year'], as_index=False).price.mean()

    manufacturer    year    price
0          acura  1996.0    700.0
1          acura  1997.0    950.0
2          acura  1999.0   4495.0
3          acura  2001.0   3697.5
4          acura  2003.0   2797.5
..           ...     ...      ...
710        volvo  2013.0   6499.5
711        volvo  2015.0  16999.0
712        volvo  2016.0  20995.0
713        volvo  2017.0  19500.0
714        volvo  2018.0      0.0

[715 rows x 3 columns]

In [121]:
# si queremos saber cual es el precio pormedio mayor de vehiculos segun su modelo
mayor_precio = df.groupby('manufacturer').price.mean()
mayor_precio.nlargest(n=10)

manufacturer
gmc                8.164186e+06
ford               2.635424e+04
rover              2.145396e+04
ram                1.731265e+04
jaguar             1.668500e+04
harley-davidson    1.499830e+04
infiniti           1.410303e+04
audi               1.351910e+04
mercedes-benz      1.350379e+04
jeep               1.284086e+04
Name: price, dtype: float64

### Unir - Combinar Registros  

```python
pd.merge()
pd.append()
pd.concat()
```

In [125]:
# es igual a join que tambien es utilizado en python pero merge y concat son mas utilizados
#creamos dos DataFrame de ejemplos con un filtro sencillo
df1 = df[['url', 'region']]
df2 = df[['url', 'price']]

#merge

df_merged = pd.merge(df1, df2, on='url')
df_merged.head()

                                                 url      region  price
0  https://greensboro.craigslist.org/ctd/d/cary-2...  greensboro  10299
1  https://greensboro.craigslist.org/ctd/d/bmw-3-...  greensboro      0
2  https://greensboro.craigslist.org/cto/d/greens...  greensboro   9500
3  https://greensboro.craigslist.org/ctd/d/cary-2...  greensboro   3995
4  https://lincoln.craigslist.org/ctd/d/gretna-20...     lincoln  41988

In [127]:
# creaermos datos de ejemplo con sample
df100 = df.sample(100, random_state=1)
df102 = df.sample(100, random_state=2)

#uninermos los datos uno debajo del otro

df100.append(df102)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,state,lat,long,age,price_per_miles,price_2,price_3,grupos,new_group,new_2
2305,7087783457,https://hickory.craigslist.org/ctd/d/ford-tran...,hickory / lenoir,https://hickory.craigslist.org,0,2016.0,ford,transit-250,NaN,6 cylinders,...,nc,NaN,NaN,3.0,0.000000,0,0,cheap,no,no
4388,7084903578,https://roanoke.craigslist.org/ctd/d/roanoke-2...,roanoke,https://roanoke.craigslist.org,4500,2008.0,subaru,legacy,excellent,4 cylinders,...,va,37.2952,-79.9022,11.0,0.037547,9000,13500,cheap,no,no
1686,7086026587,https://greensboro.craigslist.org/ctd/d/walker...,greensboro,https://greensboro.craigslist.org,294,2016.0,lexus,is 300,NaN,NaN,...,nc,36.1728,-80.1686,3.0,NaN,588,882,cheap,no,no
4945,7088349405,https://salem.craigslist.org/ctd/d/portland-20...,salem,https://salem.craigslist.org,0,2013.0,bmw,x5 4wd,NaN,NaN,...,or,45.5181,-122.5800,6.0,NaN,0,0,cheap,no,no
4197,7088476073,https://salem.craigslist.org/ctd/d/portland-20...,salem,https://salem.craigslist.org,4750,2011.0,mini,cooper hardtop,excellent,4 cylinders,...,or,45.5536,-122.6020,8.0,0.087787,9500,14250,cheap,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2377,7086679581,https://hickory.craigslist.org/ctd/d/hickory-2...,hickory / lenoir,https://hickory.craigslist.org,0,2003.0,chevrolet,suburban lt 1500,excellent,8 cylinders,...,nc,35.6884,-81.3612,16.0,0.000000,0,0,cheap,no,no
5717,7075717289,https://newlondon.craigslist.org/cto/d/bozrah-...,eastern CT,https://newlondon.craigslist.org,3490,2003.0,ford,ranger,good,6 cylinders,...,ct,41.5465,-72.1711,16.0,0.041059,6980,10470,cheap,no,no
2655,7082507540,https://rmn.craigslist.org/ctd/d/waterloo-07-y...,rochester,https://rmn.craigslist.org,9950,2007.0,gmc,yukon denali,excellent,8 cylinders,...,mn,42.4845,-92.3250,12.0,0.070567,19900,29850,cheap,no,no
3892,7093409014,https://denver.craigslist.org/cto/d/fort-colli...,denver,https://denver.craigslist.org,3300,2008.0,toyota,prius hybrid,NaN,NaN,...,co,40.5986,-105.0580,11.0,NaN,6600,9900,cheap,no,no
3474,7090818759,https://nashville.craigslist.org/ctd/d/mound-c...,nashville,https://nashville.craigslist.org,34560,2019.0,lincoln,mkz,new,NaN,...,tn,37.0072,-89.1777,0.0,2160.000000,69120,103680,expensives,yes,yes

In [129]:
# lo podemos realizar igual con concat
pd.concat([df100, df102], axis=1)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,state,lat,long,age,price_per_miles,price_2,price_3,grupos,new_group,new_2
119,7.085462e+09,https://quadcities.craigslist.org/ctd/d/cedar-...,"quad cities, IA/IL",https://quadcities.craigslist.org,17990.0,2013.0,ram,1500,excellent,8 cylinders,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nj,39.9804,-74.8209,7.0,0.037074,8990.0,13485.0,cheap,no,no
219,7.089125e+09,https://rockford.craigslist.org/cto/d/rockford...,rockford,https://rockford.craigslist.org,5400.0,2006.0,audi,a4,excellent,4 cylinders,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,7.082715e+09,https://richmond.craigslist.org/ctd/d/palmyra-...,richmond,https://richmond.craigslist.org,13990.0,2014.0,toyota,tacoma prerunner,excellent,4 cylinders,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,7.092419e+09,https://southjersey.craigslist.org/ctd/d/haine...,south jersey,https://southjersey.craigslist.org,10995.0,2015.0,ram,1500,NaN,8 cylinders,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ma,42.7565,-72.5115,4.0,0.499839,30990.0,46485.0,expensives,yes,yes
6895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ia,41.2412,-95.9957,5.0,0.233351,26000.0,39000.0,expensives,yes,yes
6905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ma,42.0702,-72.6227,6.0,0.126422,27990.0,41985.0,expensives,yes,yes
6907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ma,41.9099,-72.6029,1.0,0.881020,27990.0,41985.0,expensives,yes,yes
6953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,mn,43.1284,-96.5306,18.0,0.029032,14400.0,21600.0,cheap,no,no

**Nota:**  
<font color=read> Si quisieramos unir con concat en vez de uno debajo del otro realizar join es como sigue:   
```python
pd.concat([df100,df102], axis = 1)
pd.concat([df100,df102], axis = 'columns')
    ```

### Guardar los archivos

En python podemos guardar los archivos en un sin fin de formatos ejemplo:
```python
df.to_csv('datos_analizados'.csv)
df.to_excel('mis_datos'.xslx', index=False)
            ```  
<font color=read> cuando le colocamos index = False, es que no queremos que tenga la columna de indice que python le agrega por defecto